{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <ol>
            {% for category in categories  %}
                <li>
                    <a href="category/{{category}}">{{category}}</a>
                </li>
            {% endfor %}
        </ol>
    </div>

    <div class='container'>
        
        {% comment %} {% for listing in listings %}
            <a href="listing/{{listing.id}}_{{listing.name}}">
                {% if listing.listing_closed %}
                    <div class='row alert alert-danger'>
                {% else %}
                    <div class='row alert alert-secondary'>
                {% endif %}

                    {% if listing.image_url is not None %}
                        <div class='col-md-2'>
                            <img src={{listing.image_url}} width=150vh>
                        </div>
                    {% endif %}
                    <div class='col-md-10'>
                        <div>
                        {% if listing.listing_closed %}
                            *THIS LISTING HAS BEEN CLOSED*
                        {% endif %}
                        </div>
                        <div>
                            {{ listing.name }}
                        </div>
                        <div>
                            {{ listing.price }}
                        </div>
                        <div>
                            {{ listing.category }}
                        </div>
                        <div>
                            Created on {{ listing.datetime_created }}
                        </div>
                        <div>
                            {{ listing.owner.username }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %} {% endcomment %}
    </div>

{% endblock %}