{% extends "auctions/layout.html" %} 
{% block body %}
{%if error is not None %}
    <div class='row alert alert-secondary'>Please enter a value greater than Top bid</div>
{% endif %}
    <form method="post">
            {% csrf_token %}    
        {{form}}
        <button type="submit" class="btn btn-success">Bid</button>
    </form>
    <div>
        <h3>Top Bids:</h2>
        <ul>
            <li>
                ${{top_bid}}, 
                {%if owner_of_top_bid is not None%}
                    by: {{owner_of_top_bid.first_name}} {{owner_of_top_bid.last_name}}({{owner_of_top_bid.username}})
                {% else %}
                    Listing base price
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
