{% extends "auctions/layout.html" %} 
{% block body %}
{%if error is not None %}
    <div class='row alert alert-secondary'>Please enter a value greater than Top bid</div>
{% endif %}
    <form method="post">
        {% csrf_token %}   
        <h5>Place new Bid $</h5> 
        {{form}}
        <button type="submit" style="padding: 0.05rem 0.2rem"class="button-all btn-green-hover">Bid</button>
    </form>
    <hr>
    <div>
        <h3>Top Bids:</h3>
            <button class="button-all btn-black-no-hover" style="font-weight: 400;">
                <b style="font-size: 1.25rem">${{top_bid}}</b>
                {%if owner_of_top_bid is not None%}
                    by {{owner_of_top_bid.first_name}} {{owner_of_top_bid.last_name}}({{owner_of_top_bid.username}})
                {% else %}
                    Listing base price
                {% endif %}
            </button>
    </div>
{% endblock %}
