{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if add_to_watchlist == False %}
        <form method="post">
            {% csrf_token %}    
            <button type="submit" class="btn btn-success">
                Remove from watchlist</button>
            <input type="hidden" name="remove_watchlist">
        </form>
        {% endif %}
        {% if  add_to_watchlist == True%}
            <form method="post">
                {% csrf_token %}    
                <button type="submit" class="btn btn-success">Add to watchlist</button>
                <input type="hidden" name="add_watchlist">
            </form>
        {% endif %}
    {% endif %}
    
    {% if show_winner %}
        <h3>Congratulations! You are the winner.
        </h3>
    {% endif %}
    {%if listing.listing_closed == False %}
        {%if show_close_button %}
            <div>
                <a href="close_listing">
                    <button class="btn btn-success">Close Listing</button>
                </a>
            </div>
        {% endif %}
    {% else %}
        <h3>This listing has been closed</h3>
    {% endif %}
    {% if listing.image_url is not None %}
        <div>
        <img src="{{listing.image_url}}" width=150vh>
        </div>
    {% else %}
        <img src="https://www.moleculardevices.com/sites/default/files/2019-03/product-dummy.png" width=150vh/>
    {% endif %}
    <div>
        <div>
        {{listing.name}}
        <div></div>
        {{listing.owner.first_name}} {{listing.owner.last_name}} ({{listing.owner.username}})
        <div></div>
        {{listing.description}}
        <div></div>
        {{listing.price}}
        <div></div>
        {%if top_bid is not None%}
            Highest bid: {{top_bid}}
        {% endif %}
        <div></div>
        {{listing.datetime_created}}
        <div></div>
        {{listing.category}}
        </div>
    </div>
    <div>
        {%for bid in bids%}
            <div>
                Amount: {{bid.bid_amount}}, 
                Owner: {{bid.owner.first_name}}{{bid.owner.last_name}}({{bid.owner.username}}), 
                Date: {{bid.datetime_created}}
            </div>
        {% endfor %}
    </div>
    {%if show_bid_button %}
        <div>
            <a href="create_new_bid">
                <button class="btn btn-success">Bid</button>
            </a>
        </div>
    {% endif %}
    {% if listing.listing_closed == False and comment_form is not None %}
        <form method="post">
            {% csrf_token %}    
            {{comment_form}}
            <button type="submit" class="btn btn-success">Add Comment</button>
            <input type="hidden" name="add_comment">
        </form>
    {% endif %}
    
    <div>
        {%for comment in comments%}
            <div>
                Comment: {{comment.comment_content}}, 
                Commented by: {{comment.owner.first_name}} {{comment.owner.last_name}} ({{comment.owner.username}}), 
                Date: {{comment.datetime_created}}
            </div>
        {% endfor %}
    </div>


{% endblock %}