{% extends "auctions/layout.html" %}
{% block title %}Register{% endblock %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="textfield" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="textfield" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="textfield" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="textfield" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="button-all btn-green-hover" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}